$nav-background-color: #2d373c;

$teal: #32a0a0; // Teal
$teal-dark: #239196; // Dark Teal
$teal-light: #e1edef; // Light Teal
$teal-medium: rgba(50, 160, 160, 0.5);

$gray-dark: #444; // Dark Gray
$gray-100: #6d6d6d; // Gray #1
$gray-300: #919191; // Gray #3
$gray-light-100: #ddd; // Light Gray #1
$gray-light-200: #eee; // Light Gray #2
$gray-light-300: #e1edef; // Light Gray #3
$white: #fff; // White
$red: #900; // Red
$green: green;
$navyblue: #2f3f4a;
